@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.card {
  width: 100%;
  max-width: 500px;
  animation: fadeIn 1.6s ease-in-out forwards;
}
.body{
    align-content: center;
}